# Node modules and logs
node_modules
npm-debug.log
yarn-error.log
logs
coverage

# Environment files
.env
.env.local
.env.development
.env.production

# Build output
.next
out
dist

# Docker-related files
Dockerfile
.dockerignore

# Git and IDE
.git
.gitignore
.github
.vscode

# Documentation and markdown
*.md

# Misc
*.log
